html
  head
    title Home - #{appName}
  body
    header
      h1 #{appName}
      p Tagline: #{tagline}
      form(action="/search", method="get")
        input(type="text", name="query", placeholder="Search for groceries in your area")
        button(type="submit") Search
    main
      p Welcome to our grocery app! Find the best deals in your area.
    footer
      p © 2023 #{appName}
