html
  head
    title Food Item Name - Your App Name
  body
    header
      h1 Food Item Name
      img(src="/food-item-image.jpg", alt="Food Item Image")
    main
      p Expiry Date: DD/MM/YYYY
      p Price: $10.99
      p Quantity Available: 20
      // Additional details about the food item
    footer
      p © 2023 Your App Name
