doctype html
html
  head
    title Reducer Item Updater
    link(rel='stylesheet', href='style.css')
  body
    header
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="/store_details") Store Details
          li
            a(href="/fooditemdetails") Food Item Details
          li
            a(href="/profile") Profile
          li
            a(href="/analytics") Analytics