doctype html
html
  head
    title Reducer Item Updater
  body
    include menu 
    table
      thead
        tr
          th ID
          th Store Name
          th Location

      tbody
        each item in data
          tr
            td= item.store_id
            td= item.store_name
            td= item.location
